{% extends "base.html" %}
{% load static %}

{% block title %}Serviços{% endblock title %}

{% block styles %}
<link href="{% static 'scss/service/list.scss' %}" rel="stylesheet" type="text/x-scss" />
{% endblock styles %}

{% block content %}
{% with tab="service" %}
{% include "navbar.html" %}
{% endwith %}

<main class="container-xl py-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h1 class="h4 mb-0">Serviços</h1>

    <!-- Create Button -->
    <a href="{% url 'service-create' %}" class="btn btn-sm btn-primary">
      <span>Novo</span>
    </a>
  </div>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>

    <tbody>
      {% for service in services %}
      <tr>
        <th scope="row">{{ service.id }}</th>
        <td>{{ service.name }}</td>
        <td>
          <div class="btn-group" role="group">
            <a href="{% url 'service-update' service.id %}" class="btn btn-sm btn-primary">
              <span>Editar</span>
            </a>
            <a href="{% url 'service-delete' service.id %}" class="btn btn-sm btn-danger">
              <span>Excluir</span>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}