{% extends "base.html" %}
{% load static %}

{% block title %}Análises{% endblock title %}

{% block styles %}
<link href="{% static 'scss/analysis-page.scss' %}" rel="stylesheet" type="text/x-scss" />
{% endblock styles %}

{% block content %}
{% with tab="analysis" %}
{% include "navbar.html" %}
{% endwith %}

<main class="container-xl py-4">
  <h1>Análises</h1>

  <p>
    As análises presentes aqui se basearam no conteúdo existente no banco de dados do projeto, onde cada uma foi
    desenvolvida em uma aplicação separada. Para isso, foi utilizado o Pandas junto com Matplotlib para
  </p>

  <div class="analysis-grid">
    <div class="analysis-card">
      <img src="https://imagens.mfrural.com.br/mfrural-produtos-us/160873-228063-2030656-envasadora-de-liquido.jpg"
        alt="Análise teste" />

      <div class="analysis-card-text">
        <h2 class="h4 mb-0">Análise teste</h2>
        <p class="text-muted">Juan</p>
      </div>
    </div>

    <div class="analysis-card">
      <img src="https://imagens.mfrural.com.br/mfrural-produtos-us/160873-228063-2030656-envasadora-de-liquido.jpg"
        alt="Análise teste" />

      <div class="analysis-card-text">
        <h2 class="h4 mb-0">Análise teste</h2>
        <p class="text-muted">Juan</p>
      </div>
    </div>

    <div class="analysis-card">
      <img src="https://imagens.mfrural.com.br/mfrural-produtos-us/160873-228063-2030656-envasadora-de-liquido.jpg"
        alt="Análise teste" />

      <div class="analysis-card-text">
        <h2 class="h4 mb-0">Análise teste</h2>
        <p class="text-muted">Juan</p>
      </div>
    </div>
  </div>
</main>

{% endblock content %}