{% extends "analysis/base.html" %}
{% load static %}

{% block title %}Juan{% endblock title %}

{% block analysis %}

<h1>Qual é a frequência de cada material sendo empregado na manutenção?</h1>

<br />

<h2>Análise</h2>

<p>Importamos e limpamos os dados.</p>

<p>Achamos os materiais mais usados em todo o histórico de ocorrências. Os três primeiros são: "Lixa Ferro 80 G", "veda
  rosca" e "Registro PVC 32mm Com Rosca". Apenas será analisado a mais frequente.
</p>

<p>
  Iteramos uma função que avalia a densidade de aparições do material em intervalos de id. Plotamos os dados em gráficod
  e dispersão.
</p>

<p>
  Nota-se dois picos: por volta da ocorrência de número 110 e da ocorrência de número 550. O uso de lixa para ferro está
  relaciodado com serviço de abrasão de superfície, isso indica que nesses momentos houve bastante reforma de
  maquinário.
</p>

<br />

<h2>Notebook</h2>

<iframe src="{% static 'analysis/juan.html' %}" width="100%" style="height: 225rem"><iframe>
    {% endblock analysis %}