{% extends "analysis/base.html" %}
{% load static %}

{% block title %}Nicole{% endblock title %}

{% block analysis %}

<h1>Qual é a densidade de dados pra alguma máquina, tendo em vista o tempo como parâmetro?</h1>

<br>

<h2>Análise</h2>

<p>Primeiramente, máquinas com maior número de ocorrências foram escolhidas. As máquinas "Elaboração Agitadores /
  Tanques" e "Envasadora Agua 1 L" foram escolhidas para a
  alálise.</p>

<h5>
  Elaboração Agitadores / Tanques
</h5>

<p>Nota-se três momentos em que as ocorrências dessa máquina se aglomeram. Isso pode ser interpretado como três momentos
  com alta na fabricação de tanques e agitadores. Isso indica necessidade pontual por mais desses aparatos, isso é, pico
  na demanda de produto ou problemas com os aparatos antigos, já em funcionamento; em geral, os dispositivos novos, sob
  medida, são caros. Isso incentiva que o setor de manutenção se encarregue de desenvolver o maquinário.
</p>

<h5>
  Envasadora Agua 1 L
</h5>

<p>
  Plotando o gráfico, observa-se que existem várias ocorrências no início do período, algumas ocorrências relativamente
  bem distribuídas em tempo médio e um período sem ocorrências, um hiato.
</p>

<p>
  Isso significa que a manutenção dessa máquina foi constante por um período e na sequência seus problemas foram
  resolvidos, indicando eficiência da equipe de manutenção.
</p>

<p>
  Com análises desse tipo a empresa pode avaliar a situação de máquinas específicas e como elas vêm evoluindo com
  relação ao tempo, para que seja decidido quando aposentá-las, ou então quando reformá-las.
</p>

<br>

<h2>Notebook</h2>

<iframe src="{% static 'analysis/nicole.html' %}" width="100%" style="height: 225rem"><iframe>

    {% endblock analysis %}