{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block styles %}
<link href="{% static 'scss/dashboard.scss' %}" rel="stylesheet" type="text/x-scss" />
{% endblock styles %}

{% block content %}
{% with tab="dashboard" %}
{% include "navbar.html" %}
{% endwith %}

<main>
  <main>
    <!-- Visão Geral das Ocorrências - Cards -->
    <div id="cards-resumo">
      <div class="container-xl">
        <div class="row gy-3">
          <div class="col-sm-6 col-lg-3">
            <div class="card shadow-sm text-center py-2">
              <div class="card-body">
                <p class="text-primary fs-1 fw-bold mb-1">29</p>
                <p class="mb-2 fw-bold">Ocorrências este mês</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card shadow-sm text-center py-2">
              <div class="card-body">
                <p class="text-primary fs-1 fw-bold mb-1">08</p>
                <p class="mb-2 fw-bold">Ocorrências esta semana</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card shadow-sm text-center py-2">
              <div class="card-body">
                <p class="text-primary fs-1 fw-bold mb-1">03</p>
                <p class="mb-2 fw-bold">Ocorrências hoje</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card shadow-sm text-center py-2">
              <div class="card-body">
                <p class="text-primary fs-1 fw-bold mb-1">R$ 3521,45</p>
                <p class="mb-2 fw-bold">Total gasto no último mês</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Lista de máquinas com mais despesa e das últimas ocorrências -->
  <section class="container-xl mt-4 mb-4">
    <div class="row gy-4">
      <div class="col-md-6">
        <div class="card" id="maquinas-com-mais-despesas">
          <div class="card-body">
            <h5 class="card-title">Máquinas com maior aumento de gastos</h5>
            <h6 class="card-subtitle text-muted">
              Registros no último mês
            </h6>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="text-truncate me-2">Fresadora CNC</span>
              <span class="badge rounded-pill bg-danger">&uarr; 53%</span>
            </li>

            <li class="list-group-item">
              <span class="text-truncate me-2">Compressor</span>
              <span class="badge rounded-pill bg-danger">&uarr; 45%</span>
            </li>

            <li class="list-group-item">
              <span class="text-truncate me-2">Pulverizador</span>
              <span class="badge rounded-pill bg-danger">&uarr; 40%</span>
            </li>

            <li class="list-group-item">
              <span class="text-truncate me-2">Forno de Indução</span>
              <span class="badge rounded-pill bg-warning text-dark">&uarr; 20%</span>
            </li>

            <li class="list-group-item">
              <span class="text-truncate me-2">Torno Mecânico </span>
              <span class="badge rounded-pill bg-warning text-dark">&uarr; 15%</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Últimas Ocorrências -->
      <div class="col-md-6">
        <div class="card" id="ultimas-ocorrencias">
          <div class="card-body">
            <h5 class="card-title">Últimas ocorrências</h5>
            <h6 class="card-subtitle text-muted">
              Ocorrências registradas nas últimas 24 horas
            </h6>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="text-truncate me-2">
                Compressores: Manutenção preventiva - troca dos filtros de
                ar
              </span>
              <small class="text-muted text-nowrap">20 minutos atrás</small>
            </li>

            <li class="list-group-item">
              <span class="text-truncate me-2">
                Torno Mecânico: Manutenção corretiva - ajuste cabeçote móvel
              </span>
              <small class="text-muted text-nowrap">4 horas atrás</small>
            </li>

            <li class="list-group-item">
              <span class="text-truncate me-2">
                Fresadora: Manutenção preventiva - lubrificação
              </span>
              <small class="text-muted text-nowrap">5 horas atrás</small>
            </li>

            <li class="list-group-item">
              <span class="text-truncate me-2">
                Fresadora: Manutenção preventiva - lubrificação
              </span>
              <small class="text-muted text-nowrap">5 horas atrás</small>
            </li>

            <li class="list-group-item">
              <span class="text-truncate me-2">
                Fresadora: Manutenção preventiva - lubrificação
              </span>
              <small class="text-muted text-nowrap">5 horas atrás</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="container-xl mb-4">
    <div class="card" id="grafico-gasto-mensal">
      <div class="card-body">
        <canvas id="despesas_mensal"></canvas>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

{% block scripts %}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script> {% endcomment %}
<script>
  window.onload = function (event) {
    renderiza_despesas_mensal()
  }
</script>
{% endblock scripts %}