.analysis-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 28rem));
  gap: 2rem;
  // justify-content: space-between;
}

.analysis-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.25rem);
  }

  img {
    max-width: 100%;
    width: 28rem;
    height: 14rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    object-fit: cover;
  }

  .analysis-card-text {
    padding: 0.75rem 1rem 0;
  }
}
