{% extends "base.html" %}
{% load static %}

{% block title %}Novo prestador{% endblock title %}

{% block content %}
{% with tab="provider" %}
{% include "navbar.html" %}
{% endwith %}

<main class="container py-4">
  <div class="card">
    <div class="card-header">
      <h1 class="h4">Novo prestador</h4>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form }}

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</main>
{% endblock content %}

{% block scripts %}
<script>
  const phoneElement = document.querySelector('#{{ form.phone.id_for_label }}');
  const mask = IMask(phoneElement, {
    mask: [{
      mask: '(00) 0000-0000'
    }, {
      mask: '(00) 00000-0000'
    }],
  });
</script>
{% endblock scripts %}