@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

$table-background-color: #f5f5f5;
$cell-white: #f5f5f5;
$cell-grey: #ddd;
$font: 'Roboto', sans-serif;

/* table */

.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
  min-width: 1000px;
  background: $table-background-color;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
  min-width: 100%;
  h2 {
    margin: 8px 0 0;
    font-size: 22px;
  }
}
table.table tr {
  th,
  td {
    border-color: $cell-white;
    width: min-content;
    white-space: nowrap;
    max-width: 500px;
  }
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: $table-background-color;
}
table.table-striped.table-hover tbody tr:hover {
  background: $cell-white;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child {
  width: 50px;
}

table table td {
  a {
    color: $cell-grey;
    display: inline-block;
    margin: 0 5px;
  }
  a.view {
    color: #03a9f4;
  }
  a.edit {
    color: #ffc107;
  }
  a.delete {
    color: #e34724;
  }
}

table.table td i {
  font-size: 19px;
}

.tab-content {
  white-space: pre-line;
  justify-content: center;
}
/*
.tab-content{
    line-break:auto;
}
*/

/* \\table */

/* pagination */

.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination {
  li {
    a {
      border: none;
      font-size: 95%;
      width: 30px;
      height: 30px;
      color: $cell-grey;
      margin: 0 2px;
      line-height: 30px;
      border-radius: 30px !important;
      text-align: center;
      padding: 0;
      a:hover {
        color: #666;
      }
    }
    i {
      font-size: 16px;
      padding-top: 6px;
    }
  }
  li.active a {
    background: #03a9f4;
    a:hover {
      background: #0397d6;
    }
  }
  li.disabled i {
    color: $cell-white;
  }
}

/* \\pagination */
