#cards-resumo {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(to right, #396afc, #2948ff);
}

#maquinas-com-mais-despesas,
#ultimas-ocorrencias {
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#grafico-gasto-mensal {
  max-width: 50rem;
  margin: auto;
}
