@use 'formatacao-base' as base;


#page-item {
    margin-top: 100px;
}

#card {
    padding: 10px;
}

body {
    color: #566787;
    background: base.$table-background-color;
    font-family: base.$font
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}


.form-control {
    display: flex;
    align-items: center;
    
}

.bi-search {
    margin-right: 10px;
}

.tab-content{
    line-break:auto;
}

